<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<router-outlet></router-outlet>

<div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="/assets/Hp.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">HP</h2>
            <p class="product-short-des">omen</p>
            <span class="price">Rs~87800</span><span class="actual-price">Rs~90000</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">20% off</span>
            <img src="/assets/asus.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="rog">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">ASUS</h2>
            <p class="product-short-des"> ROG</p>
            <span class="price">Rs~88000</span><span class="actual-price">Rs~100000</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">15% off</span>
            <img src="/assets/DELL_XPS_15_9510_87YR3.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="rog">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">DELL</h2>
            <p class="product-short-des">Xps 15</p>
            <span class="price">Rs~11300</span><span class="actual-price">Rs~13990</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">30% off</span>
            <img src="/assets/HPSpectrex360-14-ea__1_.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">HP</h2>
            <p class="product-short-des">Spectra x 360 convertible</p>
            <span class="price">Rs~2400</span><span class="actual-price">Rs~3000</span>
        </div>
    </div>

</div>
<br>
<div class="product-container">
        
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">17% off</span>
            <img src="assets/acer predator helios 300.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">ACER</h2>
            <p class="product-short-des">Predator Helios 300</p>
            <span class="price">Rs~11700</span><span class="actual-price">Rs~12990</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">16% off</span>
            <img src="\assets\Msi.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">MSI</h2>
            <p class="product-short-des">Gf63 gaming laptop</p>
            <span class="price">Rs~23990</span><span class="actual-price">Rs~30099</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="/assets/Hp pavillion.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">HP</h2>
            <p class="product-short-des">pavillion 7</p>
            <span class="price">Rs~10990</span><span class="actual-price">Rs~12399</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">20% off</span>
            <img src="/assets/apple.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">APPLE</h2>
            <p class="product-short-des">Macbook 7</p>
            <span class="price">Rs~22990</span><span class="actual-price">Rs~28099</span>
        </div>
    </div>

</div>


<div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="assets\Lenovo thick book 15.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">LENOVO</h2>
            <p class="product-short-des">Thick book 15</p>
            <span class="price">Rs~8099</span><span class="actual-price">Rs~10090</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">20% off</span>
            <img src="/assets/Mi notebook pro.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">MI</h2>
            <p class="product-short-des">Notebook 10</p>
            <span class="price">Rs~7990</span><span class="actual-price">Rs~9500</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">15% off</span>
            <img src="\assets\samsung.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">SAMSUNG</h2>
            <p class="product-short-des">15 pro</p>
            <span class="price">Rs~11300</span><span class="actual-price">Rs~13990</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">30% off</span>
            <img src="\assets\xps-Gi3iUJ1FwxI-unsplash.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Dell</h2>
            <p class="product-short-des">zenbook 5</p>
            <span class="price">Rs~2400</span><span class="actual-price">Rs~3000</span>
        </div>
    </div>

</div>
<br>
<div class="product-container">
        
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">17% off</span>
            <img src="\assets\laptop.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">ASUS</h2>
            <p class="product-short-des">Vivobook</p>
            <span class="price">Rs~11700</span><span class="actual-price">Rs~12990</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">16% off</span>
            <img src="\assets\Dell xi.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Dell</h2>
            <p class="product-short-des">xi17 i7</p>
            <span class="price">Rs~23990</span><span class="actual-price">Rs~30099</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="\assets\apple.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">APPLE</h2>
            <p class="product-short-des">macbook 5</p>
            <span class="price">Rs~10990</span><span class="actual-price">Rs~12399</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">20% off</span>
            <img src="\assets\DELL_XPS_15_9510_87YR3.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">DELL</h2>
            <p class="product-short-des">Inspiron 15</p>
            <span class="price">Rs~22990</span><span class="actual-price">Rs~28099</span>
        </div>
    </div>

</div>