<div class="product-container"> 
    <div class="product-card">
        <div class="product-image">
           <img src="/assets/laptop.jpg" class="product-thumb" alt="">
           <a class="card-btn" href="child2">view</a>
           
        </div>
        <div class="product-info">
            <h2 class="product-brand">laptops</h2>
            
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
        
            <img src="/assets/mobile.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="child1">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Mobiles</h2>
            
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
        
            <img src="assets\lg smart tv.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="Tele">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Television</h2>
            
        </div>
    </div>
</div>
