<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>

<div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="\assets\samsung crystal tv.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">SAMSUNG</h2>
            <p class="product-short-des">Crystal uhd</p>
            <span class="price">Rs~87800</span><span class="actual-price">Rs~90000</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">20% off</span>
            <img src="assets\skyworth tv.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">Skyworth</h2>
            <p class="product-short-des">smart qled</p>
            <span class="price">Rs~88000</span><span class="actual-price">Rs~100000</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">15% off</span>
            <img src="assets\sony tv.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">SONY</h2>
            <p class="product-short-des">ulta max</p>
            <span class="price">Rs~11300</span><span class="actual-price">Rs~13990</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">30% off</span>
            <img src="assets\tcl Tv.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">TCL</h2>
            <p class="product-short-des">Tcl 720</p>
            <span class="price">Rs~2400</span><span class="actual-price">Rs~3000</span>
        </div>
    </div>

</div>
<br>
<div class="product-container">
        
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">17% off</span>
            <img src="assets\Tv.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">APLLE</h2>
            <p class="product-short-des">apple 13</p>
            <span class="price">Rs~11700</span><span class="actual-price">Rs~12990</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">16% off</span>
            <img src="assets\Mi tv.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">MI</h2>
            <p class="product-short-des">Mi 12</p>
            <span class="price">Rs~23990</span><span class="actual-price">Rs~30099</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="assets\lg smart tv.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">LG</h2>
            <p class="product-short-des">smart 11i</p>
            <span class="price">Rs~10990</span><span class="actual-price">Rs~12399</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">20% off</span>
            <img src="assets\fortex tv.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">FORTEX</h2>
            <p class="product-short-des">Fortex 1+</p>
            <span class="price">Rs~22990</span><span class="actual-price">Rs~28099</span>
        </div>
    </div>

</div>
