<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>

<div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="assets\Apple iphone 13.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">APPLE</h2>
            <p class="product-short-des">iphone 13 pro</p>
            <span class="price">Rs~87800</span><span class="actual-price">Rs~90000</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">20% off</span>
            <img src="\assets\Samsung s22 ultra.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">SAMSUNG</h2>
            <p class="product-short-des">S22 ultra</p>
            <span class="price">Rs~88000</span><span class="actual-price">Rs~100000</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">15% off</span>
            <img src="\assets\Vivo y21.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">VIVO</h2>
            <p class="product-short-des">Y21</p>
            <span class="price">Rs~11300</span><span class="actual-price">Rs~13990</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">30% off</span>
            <img src="\assets\Oneplus 10 pro.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">ONEPLUS</h2>
            <p class="product-short-des">oneplus 10 pro</p>
            <span class="price">Rs~2400</span><span class="actual-price">Rs~3000</span>
        </div>
    </div>

</div>
<br>
<div class="product-container">
        
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">17% off</span>
            <img src="\assets\Mortolo gp.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">MORTORLO</h2>
            <p class="product-short-des">mortorlo gp</p>
            <span class="price">Rs~11700</span><span class="actual-price">Rs~12990</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">16% off</span>
            <img src="\assets\Micromax.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">MICROMAX</h2>
            <p class="product-short-des">xi+</p>
            <span class="price">Rs~23990</span><span class="actual-price">Rs~30099</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="\assets\Nokia 9.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">NOKIA</h2>
            <p class="product-short-des">Nokia 9</p>
            <span class="price">Rs~10990</span><span class="actual-price">Rs~12399</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">20% off</span>
            <img src="\assets\oppo f15.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">OPPO</h2>
            <p class="product-short-des">oppo f15</p>
            <span class="price">Rs~22990</span><span class="actual-price">Rs~28099</span>
        </div>
    </div>

</div>


<div class="product-container">
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="\assets\Samsung A22.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">SAMSUNG</h2>
            <p class="product-short-des">Samsung A22</p>
            <span class="price">Rs~8099</span><span class="actual-price">Rs~10090</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">20% off</span>
            <img src="assets\redmi 10 s.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">REDMI</h2>
            <p class="product-short-des">Redmi Note10</p>
            <span class="price">Rs~7990</span><span class="actual-price">Rs~9500</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">15% off</span>
            <img src="assets\Poco X3.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">REALMI</h2>
            <p class="product-short-des">Poco X3</p>
            <span class="price">Rs~11300</span><span class="actual-price">Rs~13990</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">30% off</span>
            <img src="\assets\redmi 10 s.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">REDMI</h2>
            <p class="product-short-des">Redmi 10 pro</p>
            <span class="price">Rs~2400</span><span class="actual-price">Rs~3000</span>
        </div>
    </div>

</div>
<br>
<div class="product-container">
        
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">17% off</span>
            <img src="assets\vivo y33 s.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">VIVO</h2>
            <p class="product-short-des">Vivo y33s</p>
            <span class="price">Rs~11700</span><span class="actual-price">Rs~12990</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">16% off</span>
            <img src="\assets\Oppo A74.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">OPPO</h2>
            <p class="product-short-des">Oppo A74</p>
            <span class="price">Rs~23990</span><span class="actual-price">Rs~30099</span>
        </div>
    </div>
    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">10% off</span>
            <img src="assets\Realme 3 pro.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">REALMI</h2>
            <p class="product-short-des">realme 3</p>
            <span class="price">Rs~10990</span><span class="actual-price">Rs~12399</span>
        </div>
    </div>

    <div class="product-card">
        <div class="product-image">
            <span class="discount-tag">20% off</span>
            <img src="assets\Mi 10.jpg" class="product-thumb" alt="">
            <a class="card-btn" href="#">view</a>
        </div>
        <div class="product-info">
            <h2 class="product-brand">REDMI</h2>
            <p class="product-short-des">Redmi 10</p>
            <span class="price">Rs~22990</span><span class="actual-price">Rs~28099</span>
        </div>
    </div>

</div>