<div class="tom"> 
    <nav> 
        <ul> 
            <li class="dropdown"><a routerLink="Product">products</a> 
             
            </li> 
            <li class="dropdown"><a href="service">services<span>&rsaquo;</span></a> 
              <ul> 
                <li><a href="service">product design</a></li> 
                <li><a href="service">layout design</a></li> 
                <li><a href="service">manufacturing</a></li> 
                <li><a href="service">assembling</a></li> 
     
              </ul> 
            </li> 
            <li class="dropdown"><a href="branch">Gallery<span>&rsaquo;</span></a> </li> 
           
     
        </ul> 
    </nav> 
    </div>