<div class="row">
    <div class="col-sm-12">
        <h1 style="text-align: center;">OUR SERVICES</h1></div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <br>
        <h3>PRODUCT DESIGN</h3>
        <p style="font-size: 20px;">HTK Technology would enhance your intelligence into products. Our research and development team will assist you in all the phases of your products. Our team of engineers will assist in building your prototypes. Finally, through all stages your ideas will be turned into mass production through our dedicated team of design engineers.

            HTK Technology design engineers have high expertise with a lot of experience in technical phases. Our team of engineers will approach any tasks into basic algorithms and ensure its successful execution of any complex systems, mainly in the areas of Automotive, Consumer Electronics, semiconductors, IoTs, Medical devices and in other sectors.
            <h4 class="home-title mt-3" style="color: #2264a7;">PWB Layout Design</h4>
            <div class="customContent">
                <p class="mt-2"><i class="fa fa-circle"></i> HTK Technology Designed single Layer, two Layer and Multi layered board till 30 layers.
                    Ability Schematic parts Creation and Footprints Creation.
                    Footprint Creation for Fine pitches components BGA, LGA, QFN, PQFP and etc.
                </p>
                <p class="mt-2"><i class="fa fa-circle"></i> Proper analysis of component placement and layers stack up. </p>
                <p class="mt-2"><i class="fa fa-circle"></i> Proper analysis of Split Power and Ground planes. </p>
                <p class="mt-2"><i class="fa fa-circle"></i> HTK ENTERPRISES well experienced in noise reduction techniques and emission of heat control and Have well experienced in mixed layout (Analog and Digital). ADC and DAC </p>
                <p class="mt-2"><i class="fa fa-circle"></i> HTK ENTERPRISES have well experience designing with memory DDR2,DDR3 & DDR4,SRAM,Flash,Pci,QPI,IB and BXI signals. Designed Board with Impedance Control, RF Designs and PCI Express. </p>
                <p class="mt-2"><i class="fa fa-circle"></i> HTK TECHNOLOGY Worked on Ethernet and HDMI interface. </p>
                <p class="mt-2"><i class="fa fa-circle"></i> Worked on IB and BXI offset 11.3 angle routing. </p>
                <p class="mt-2"><i class="fa fa-circle"></i> HTK Technology have experience in EMI and EMC. </p>
                <p class="mt-2"><i class="fa fa-circle"></i> HTK Technology have experience in DFM and DFT. </p>
            </div>
          
          
          
            <h4 class="home-title mt-3" style="color: #2264a7;">PWB Manufacturing & Assembly</h4>
            <p class="mt-2"> HTK Technology is one of the leading PWB design solution providers. We offer engineering expertise in the areas of PWB Manufacturing and Assembly under one roof. HTK Technology goal is to provide proper service and quality products to the clients.</p>
            <h5 class="home-title mt-4">CAPABILITIES OF MANUFACTURING</h5>
            <div class="customContent">
                <p class="mt-2"><i class="fa fa-circle"></i> Digital & Analog, Mixed Signal</p>
                <p class="mt-2"><i class="fa fa-circle"></i> Power Supply, Backplanes</p>
                <p class="mt-2"><i class="fa fa-circle"></i> S/S, D/S & Multi-layers Rigid PWB</p>
                <p class="mt-2"><i class="fa fa-circle"></i> Thru-Holes, SMT/BGA HIGH Density (Double Side Placement)</p>
                <p class="mt-2"><i class="fa fa-circle"></i> Controlled Impedance</p>
                <p class="mt-2"><i class="fa fa-circle"></i> Blind/Buried Vias</p>
                <p class="mt-2"><i class="fa fa-circle"></i> High Speed</p>
                <p class="mt-2"><i class="fa fa-circle"></i> Audio & Video</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> Flex & Rigid Flex PWB</p>
                </div>
                <h5 class="home-title mt-4">FLEXIBLE CIRCUIT (FPC & RIGID-FLEX)</h5>
                <div class="customContent">
                    <p class="mt-2"><i class="fa fa-circle"></i> Single, Double Sided & Multilayer FPC</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> Rigid-Flex FPC</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> Material : Polymide & Polyester</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> Min Line Width/Spacing – 3/3mils</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> Minimum Hole : 6mils</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> Surface Finish : Ni/Au, Sn/Pb, PB Free & HASL.</p>
                </div>
                <h5 class="home-title mt-4">CAPABILITIES OF ASSEMBLY</h5>
                <div class="customContent">
                    <p class="mt-2"><i class="fa fa-circle"></i> SMT from 0201 and Through Hole</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> One-sided as well as double-sided, multi-layers PWB assembly</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> Simple to very complex and Flex PWB assemblies</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> Capability to handle any devices including BGAs, QFNs, DFNs, CSPs, Flip Chip etc</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> Small quantities and quick turns available</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> Consigned Components or Turnkey</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> RoHS & Lead-Free Assembly</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> BGA rework and Flip Chip rework services, X-Ray equipment available</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> Automated Optical Inspection (AOI)</p>
                    <p class="mt-2"><i class="fa fa-circle"></i> In-circuit and Functional Test (ICT & FCT)</p>
                </div>
            </div>
        
        
        <div class="col-sm-1"></div>
    </div>
