<h1 style="text-align: center; font-family:'Times New Roman' ;"><b>
    About HTK Technology
</b></h1>
<img src="/assets/HTK logo (2).png" style="height: 100px; width: 130px;border-radius: 100%;margin-left: 670px;" >
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-4" >
        <h4 style="color: rgb(6, 42, 202);">
            Few Words About Us!
        </h4>
        <h2>
            WE ARE INNOVATORS IN SERVICE BASED BUSINESS
        </h2>
        <h4>
            Our Goal Is To Bring Reliable Products
        </h4>

        <video width="200" height="150" controls>
            <source src="/assets/avenue-g103d2e988-640-copy_EshOcaLB.mp4" type="video/mp4">
            Your browser does not support HTML video.
          </video>
          
          <p>
          Video courtesy of 
          <a href="https://www.bigbuckbunny.org/" target="_blank">Big Buck Bunny</a>.
          </p>


    </div>




    <div class="col-sm-4">

        <p>HTK Technology is an Indian based company. It was established in 2018 and offering Product design and printed wiring board layout Design to Electronics.
             Since then we have steadily grown & extended our services which include Printed wiring Boards Manufacturing & Printed wiring Boards Assembly.</p><hr>




             <p>
                This is our core business, so you will receive expert knowledge through the entire design process.
             </p><hr>

             <p>
                We understand and commit to meeting our customers' requirement for accelerated time-to-market objectives with superior quality; in fact, we've built our reputation on it!
             </p><hr>
             <p>
                The flexibility built into the way we operate, allows us to give our customers peace of mind when it comes to their electronic layout Design and manufacturing services needs.
             </p><hr>
             <p>
                Current status of HTK Technology is- Active.
             </p>
    </div>
    <div class="col-sm-2">

    </div>



</div>
