<body>
    <div class="main">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <img src="https://m.media-amazon.com/images/I/81Vr3jzftaL._SX522_.jpg" class="d-block w-40"
                            alt="...">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="https://m.media-amazon.com/images/I/71cYhLOhwbL._SX522_.jpg" class="d-block"
                            alt="...">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">

                        <img src="https://m.media-amazon.com/images/I/81VI2sJN92L._SX522_.jpg" class="d-block"
                            alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="pdt-outer">
            <div class="pdt-info">
                <h3>ASUS ROG Strix G17 (2021) 17.3-inch (43.94 cms) FHD 144Hz, AMD Ryzen 7 4800H, GTX 1650 4GB Graphics,
                    Gaming Laptop (8GB/512GB SSD/Windows 10/Gray/2.4 Kg), G713IH-HX020T</h3>
                <div class="rating" style="margin: 0; padding: 0;">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <small>( 388 Ratings )</small>
                </div>
                <span>M.R.P. : <del>₹1,00,000.00</del> <br>
                    <span>Price: <span class="rs">₹76,000.00</span></span> <br>
                    <span class="save">You save: <span class="rs save">₹24,000.00</span></span>
                    <h5>About</h5>
                    <div class="grid">

                        <div class="row">
                            <div class="col-sm">
                                <b>Brand</b>
                            </div>
                            <div class="col-sm">
                                ASUS
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <b>Model Name</b>
                            </div>
                            <div class="col-sm">
                                ROG Strix G17
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <b>Screen Size</b>
                            </div>
                            <div class="col-sm">
                                43.94 cms
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <b>Color</b>
                            </div>
                            <div class="col-sm">
                                Eclipse Grey
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm">
                                <b>Hard Disk Size</b>
                            </div>
                            <div class="col-sm">
                                512GB
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm">
                                <b>CPU Model</b>
                            </div>
                            <div class="col-sm">
                                Ryzen 7
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm">
                                <b>RAM Memory</b>
                            </div>
                            <div class="col-sm">
                                8GB
                            </div>
                        </div>
                    </div>

                    <div class="buttons">
                        <button class="btn btn-outline-primary cart">Add to Cart</button>
                        <button class="btn btn-outline-warning buy">Buy Now</button>
                    </div>
          
            <div class="vl"></div>
            <div class="pdt-info">
                <video src="strix.mp4" controls></video>
                <h5>About this item</h5>
                <ul>
                    <li>Free upgrade to Windows 11 when available. Disclaimer-Upgrade rollout plan is being finalized
                        and is scheduled to begin late in 2021 and continue into 2022. Specific timing will vary by
                        device. * </li>
                    <li>Processor: AMD Ryzen 7 4800H Processor, 2.9 GHz Base Speed, Up to 4.2 GHz Max Boost Speed, 8
                        Cores, 16 Threads, 8MB L3 Cache</li>
                    <li>Access to over 100 high-quality PC games on Windows 10 </li>
                    <li>
                        One-month subscription to Xbox Game Pass that's included with the purchase of your device </li>

                    <li>Memory: 8GB SO-DIMM DDR4 3200MHz, Support Up to 32GB Using 2x SO-DIMM slots with | Storage:
                        512GB M.2 NVMe PCIe 3.0 SSD with additional empty 1x M.2 2280 PCIe 3.0 SSD Slot </li>
                    <li>Graphics: Dedicated NVIDIA GeForce GTX 1650 GDDR6 4GB VRAM, With ROG Boost up to 1615MHz at 50W
                        + 15W with Dynamic Boost </li>
                </ul>
            </div>
      
 

