<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="topnav">
  <div class="logo">
    <img src="/assets/HTK logo (2).png">
  </div>
  <div class="statement" style="color: rgba(30, 30, 171, 0.836);font-family:Verdana, Geneva, Tahoma, sans-serif;font-style: oblique;font-size: 22px;margin-top: 5px;margin-left: -250px;">
    makes everything easier and reliable
  </div>
  <nav>
    <ul>
  <a class="active" routerLink="Home">Home <i class="fas fa-home"></i></a>
  <a  routerLink="About">About</a>
  <a  routerLink="Careers">careers</a>
  <a routerLink="contactus">Contactus</a>
    </ul>
  </nav>
